{% extends "main.html" %}
{% load static %}
{% block title %}
Home
{% endblock title %}

{% block content %}
<div class="row">
	<h1>Our Top Products</h1>
	{% for product in products %}
	<div class="col-lg-4">
		<div class="outline-box">
			<img class="thumbnail" src="{{product.image.url}}" alt="">
			<div class="box-element product">
				<h1 style="font-variant: small-caps;"><strong>{{product.name}}</strong></h1>
				<hr>

				{% if request.user.is_authenticated %}
				<a href="{% url 'add_to_cart' product.id %}"><button
						class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button></a>
						<h4 style="float: right;"><strong>RS {{product.price}}</strong></h4>
						<br>
				<a class="btn btn-outline-success" href="{% url 'add_to_wishlist' product.id %}">Add to Wishlist</a>
				<br>
				<a class="btn btn-outline-info" href="{% url 'product' product.id  %}">View</a>
				{% else %}

				<a href="{% url 'login' %}"><button class="btn btn-outline-secondary add-btn update-cart">Add
						to Cart</button></a>

						<h4 style="float: right;"><strong>RS {{product.price}}</strong></h4>
						<br>
				<a class="btn btn-outline-success" href="{% url 'login' %}">Add to Wishlist</a>
				<br>
				<a class="btn btn-outline-info" href="{% url 'product' product.id  %}">View</a>

				{% endif %}


				
			</div>
		</div>
	</div>

	{% endfor %}



</div>

{% endblock content %}


{% block footer-js %}
{% if messages %}
{% for message in messages %}
<script>
   alertify.set('notifier', 'position', 'bottom-right');
   alertify.success('{{message}}, {{user.username}}!');
</script>
{% endfor %}
{% endif %}
{% endblock footer-js %}